<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
    <div class="span6 offset3">
    <h2><em>Subscribe Now</em></h2>
      <%= link_to "1 month 10CHF", 
                  buySubscription_for(@user, 
                                      10, SixPayment::CHF, 
                                      "Monthly Subscription - CHF"), 
                                      class: "btn btn-large btn-primary" %>
      <%= link_to "1 year 100CHF", 
                  buySubscription_for(@user, 
                                      100, SixPayment::CHF,
                                      "Annual Subscription - CHF"), 
                                      class: "btn btn-large btn-primary" %>
      <%= link_to "1 year 100EUR", 
                  buySubscription_for(@user, 
                                      100, SixPayment::EUR,
                                      "Annual Subscription - EUR"), 
                                      class: "btn btn-large btn-primary" %>
      <p> Specail to play with error codes: </p>
      <!-- TODO: Remove. -->
      <%= link_to "1 year 1099CHF", 
                  buySubscription_for(@user, 
                                      100.99, SixPayment::CHF,
                                      "Annual Subscription - ECHF Fail"), 
                                      class: "btn btn-large btn-primary" %>
    </div>
</div>

